* {
    -fx-font-family: "Liberation Mono";
    -fx-font-size: 13;

    n-editor-background: #232323;
    n-editor-selected-line: #3a3a3a;
    n-text-color: #dedede;
    n-file-tree-background: #343434;
    n-line-numbers: #6c6c6c;
}

.split-pane {
    -fx-focus-traversable: false;
    -fx-padding: 0;
}

.split-pane-divider {
    -fx-background-color: n-editor-background;
}

.tree-view {
    -fx-background-color: n-file-tree-background;
}

.tree-cell {
    -fx-background-color: n-file-tree-background;
    -fx-text-fill: n-text-color;
}

.tree-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: n-text-color;
}

.code-area {
    -fx-background-color: n-editor-background;
}

.text {
    -fx-fill: n-text-color;
}

.code-area .paragraph-box:has-caret {
    -fx-background-color: n-editor-selected-line;
}

.caret {
    -fx-stroke: n-text-color;
}

.lineno {
    -fx-background-color: n-editor-background;
    -fx-text-fill: n-line-numbers;
    -fx-alignment: center;
}
